<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Doña Juanita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleclient.css') }}">
</head>
<body>
    <div id="container">
        <header>
            <h1>Administrador</h1>
        </header>
        <nav>
            <div class="nav-left">    
                <a href="/reportes">Reportes</a>        
            </div>
            <div class="nav-right">
                <a href="/cliente/{{ usuario[0] }}"> {{ usuario[1] }} {{ usuario[2] }}</a>
                <img src="Productos/user.png" width="30">
                <a href="/logout"> Cerrar Sesión</a>
            </div>
        </nav>
        <br>
        <div id="cards-container">
            <div class="card">
                <a href="/usuarios">
                    <img src="Productos/user.png" alt="Usuarios" width="100">
                </a>
                <h4>Usuarios</h4>
            </div>
            <div class="card">
                <a href="/brand">
                    <img src="Productos/brand.png" alt="Marca" width="100">
                </a>
                <h4>Marcas</h4>
            </div>
            <div class="card">
                <a href="/category">
                    <img src="Productos/category.png" alt="Categoría" width="100">
                </a>
                <h4>Categorías</h4>
            </div>
            <div class="card">
                <a href="/product">
                    <img src="Productos/product.png" alt="Productos" width="100">
                </a>
                <h4>Productos</h4>
            </div>
            <div class="card">
                <a href="/sale">
                    <img src="Productos/sale.png" alt="Promociones y Ofertas" width="100">
                </a>
                <h4>Promociones y Ofertas</h4>
            </div>
        </div>
    </div>
</body>
</html>