<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Doña Juanita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleclient.css') }}">
</head>
<div id = "container">
    <header>
        <h1>Super Doña Juanita</h1>
    </header>
</div>

<body>
    <a href="/usuarios">
        <img src="user.png" alt="Usuarios" width="100">
    </a>                        <h4>Usuarios</h4>
        <h5>
            <p>
                
            </p>
        </h5>
</body>
</html>