<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Categoría</title>
    <link rel="stylesheet" href="../Productos/stylecategorias.css"/>
</head>
<body>
    <div id="container">
        <button class="botones" onclick="window.location.href='/category';">Regresar</button>
        <!-- Encabezado -->
        <header>
            <h1>Eliminar Categoría</h1>
        </header>

        <!-- Confirmación de Eliminación de Categoría -->
        <section id="eliminar-categoria">
            <form action="/eliminarCategoria" method="get">
                <input type="hidden" name="id" value="{{ request.args.get('id') }}">
                <p>¿Estás seguro de que deseas eliminar la categoría <strong>{{ request.args.get('nombre') }}</strong>?</p>
                <button type="submit" class="botones eliminar">Eliminar</button>
                <button type="button" class="botones" onclick="window.location.href='/category';">Cancelar</button>
            </form>
        </section>
    </div>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Super Doña Juanita - Todos los derechos reservados.</p>
    </footer>
</body>
</html>