<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 Clientes</title>
    <link rel="stylesheet" href="../Productos/style_l.css"/>
</head>
<body>
    <div id="container">
        <button class="botones" onclick="window.location.href='/reportes';">Regresar</button>
        <header>
            <h1>Top 5 Clientes</h1>
        </header>
        <section id="lista-usuarios">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cantidad de Pedidos</th>
                        <th>Monto Total de Compras</th>
                        <th>Artículos Distintos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.Nombre }}</td>
                        <td>{{ cliente.Apellido }}</td>
                        <td>{{ cliente.CantidadPedidos }}</td>
                        <td>₡{{ cliente.MontoTotalCompras }}</td>
                        <td>{{ cliente.CantidadArticulosDistintos }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No hay datos disponibles</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>



